body{
    background-color: slategray;
}
.title {
    font: serif, sans-serif;
    text-align: center;
    color: azure;
    background-color: darkslategray;
    font-size: 50px;   
}
img {
    height: auto;
    width: 300px;
}
button {
    color: black;
    text-align: center;
    background-color: snow;
    font-size: 30px;
}